:root {

    --WHITE-BACKCOLOR: #F7F7F7;
    --DARK-BACKCOLOR: #001D33;
    --PRIMARY-BLUE: #019CF8;
    --SECONDARY-ORANGE: #ff8c00;
    --LIGHT-BLUE: #73B9ED;
    --LIGHT-ORANGE: #F6A964;
    --DARK-CASE: #33484B;
    --LIGHT-CASE: #D1DEE8;
    --LIGHT-GRAY: #33484B40;

    /* Espaciados y medidas constantes */
    --BORDER-RADIUS-LG: 15px;
}
* {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
}
body {
    background-color: var(--WHITE-BACKCOLOR);
}
/* Estilos página de error*/
.textoError {
    color: var(--SECONDARY-ORANGE);
    font-weight: bold;
}
.error-img{
    max-height: 400px;
}